<!-- Projects Section-->
<section class="py-5">
    <div class="container px-5 mb-5">
        <div class="section-title">
            <h2>Projects</h2>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-12 col-sm-6">
                <!-- Project Card 1-->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center">
                            <div class="row"></div>
                                <div class="col p-5">
                                    <h2 class="fw-bolder">Diesel_API</h2>
                                    <p>This web application provides a wide range of information about diesel and costs associated with it. User can follow current information from stock trading (API). Moreover User can calculate travel cost, when he uses diesel car. User completes form and gets information about travel cost between 2 cities in Poland. To calculation user can choose from databse or add  his car. User can alco compare his car with the lowest fuel consumption diesel car.</p>
                                    <a href="https://github.com/RockPiryt/Diesel_API" class="btn btn-dark "><i class="fa-brands fa-github"></i>  Github</a><br>
                                    <a href="#" class="btn btn-outline-dark mt-3 btn-sm">More info ...</a>
                                </div>
                                <div class="col p-5">
                                    <img class="img-fluid" src="{{ url_for('static', filename='assets/img/my_portfolio/Diesel_web_app/prev_home_page.jpg') }}" alt="Diesel_API Preview" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Card 2-->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center">
                            <div class="row"></div>
                                <div class="col p-5">
                                    <h2 class="fw-bolder">Pregnant_Pills</h2>
                                    <p>This app is for pregnant women to keep information about pills, which they took during pregnancy. On home page user can register a new account or continue as guest. When user is logged in, it is possible to create a list with pills. User can add a new pill or choose from database. Pregnancy week is also required. After that user gets a list with pills (with dates and type of pills), which is avaiable to  download this list as PDF file.</p>
                                    <a href="https://github.com/RockPiryt/Pregnant_pills" class="btn btn-dark"><i class="fa-brands fa-github"></i>  Github</a><br>
                                    <a href="#" class="btn btn-outline-dark mt-3 btn-sm">More info ...</a>
                                </div>
                                <div class="col p-5">
                                    <img class="img-fluid" src="{{ url_for('static', filename='assets/img/my_portfolio/Pregnant_pills_web_app/preview_pregnant_pills.jpg') }}" alt="..." />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Card 2-->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center">
                            <div class="row"></div>
                                <div class="col p-5">
                                    <h2 class="fw-bolder">Arch_info</h2>
                                    <p>An application designed for architects. Users can choose post and read more information. Moreover users can contact with me sending an email (use SMTP). In future I want to add 2 practical section - information to create building available for disabled people and section to calculate fire protection for bulding segments.</p>
                                    <a href="https://github.com/RockPiryt/Arch_info" class="btn btn-dark"><i class="fa-brands fa-github"></i>  Github</a><br>
                                    <a href="#" class="btn btn-outline-dark mt-3 btn-sm">More info ...</a>
                                </div>
                                <div class="col p-5">
                                    <img class="img-fluid" src="{{ url_for('static', filename='assets/img/my_portfolio/Arch_info_web_app/prev_homepage.jpg') }}" alt="..." />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>