<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Resume</h2>
        <p>I'm developing my passion to create useful tools. I focus on building intuitive and user-friendly programs. I am looking for my first experience in the IT industry to improve my skills in building application and manage cloud services like AWS or Azure.</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Paulina Kimak</h4>
            <p><em>Python Developer.</em></p>
            <ul>
              <li>Gdansk, Poland, PL</li>
              <li>(+48) 570-085-155</li>
              <li>rockpiryt@gmail.com</li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Master of Architecture</h4>
            <h5>2014 - 2015</h5>
            <p><em>Gdansk University of Technology, Gdansk, PL</em></p>
            <p>Speedway stadium as main project.</p>
          </div>
          <div class="resume-item">
            <h4>Bachelor of Fine Arts &amp; Graphic Design</h4>
            <h5>2010 - 2014</h5>
            <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
            <p>Office building as main project.</p>
          </div>

          <h3 class="resume-title">Certificates</h3>
          <div class="resume-item">
            <h4>Flask application</h4>
            <h5>2022</h5>
            <p><em>Udemy Course</em></p>
            <p>Build an app to exchange money.</p>
          </div>
          <div class="resume-item">
            <h4>German Certificate</h4>
            <h5>2019</h5>
            <p><em>International test</em></p>
            <p>B1 Certificate</p>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>3D artist/ architect assistant</h4>
            <h5>2020 - Present</h5>
            <p><em>7r S.A., Gdansk, Poland,PL</em></p>
            <ul>
              <li>Create photorealistic 3D exterior visualization; Sketchup+ Vray, GIMP</li>
              <li>Prepare project documentation: plans, sections, views, details. </li>
              <li>Have supervision over progress in making of buildings.</li>
              <li>Contact with international clients./li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Interior designer</h4>
            <h5>2019 - 2020</h5>
            <p><em>Kler S.A., Gdansk, Poland,PL</em></p>
            <ul>
              <li>Creating of interiors; Sketchup + Vray.</li>
              <li>Prepare quotations for clients. </li>
              <li> Contact with suppliers.</li>
              <li>Implementation new interior ideas.</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Interior designer</h4>
            <h5>2016 - 2019</h5>
            <p><em>Sunreef Yachts , Gdansk, Poland,PL</em></p>
            <ul>
              <li>Create concepts of yacht's interiors; 3DS max+c Corona, Photoshop</li>
              <li>Working with specialist from other departments (electricity, plumbing, composite).</li>
              <li> Design stands for international boat show in Cannes, Dubaj, Monaco, Miami, Singapore,</li>
              <li> Implementate new interior ideas, such as mat gelcoat or protection for plates in durable foam.</li>
              <li> Prepare pricing of standard and optional equipment,</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section>