<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About</h2>
        <p>I am hard-working Python Developer with experience designing, debugging and troubleshooting applications using Flask and Python coding languages. Hoping to use my advanced development skills to build and enhance applications for the building industry, because I'm also an architect.</p>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="flex-container personal-img">
            <img src="{{ url_for('static', filename='assets/img/rock_piryt.jpg') }}" class="" alt="">
          </div>
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content">
          <h3>Python Developer &amp; Web Developer.</h3>
          <p class="fst-italic">
            Build user-friendly and intuitive web app using Python and Flask Framekwork and SQlite Database.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span><a href="https://github.com/RockPiryt"> https://github.com/RockPiryt</a></span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+48 570 085 155</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>rockpiryt@gmail.com</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Gdansk, Poland</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>09 July 1990</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <div class="badge-base LI-profile-badge" data-locale="pl_PL" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="paulina-kimak-149904153" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://pl.linkedin.com/in/paulina-kimak-149904153?trk=profile-badge"></a></div>
            </div>
          </div>
          <p>
            On my Github Account you can find 4 big project to show my experience in developing and maintaining web application using Python and Flask. Moreover I also created responsive websites using HTML, CSS and Bootstrap.
          </p>
        </div>
      </div>
    </div>
  </section>