{% include "header.html" %}

<form action="{{ url_for('user_contact')}}" method="POST" novalidate>
    {{ html_form.csrf_token }}
    <div class="form-row">
      <div class="form-group col-md-6">
        {{ html_form.name.label }}{{ html_form.name(class_="form-control", placeholder="Your Name", size=30) }}
        {% for err in html_form.name.errors %}
            {{ err }}
        {% endfor %}
      </div>
      <div class="form-group col-md-6">
        {{ html_form.email.label }} {{ html_form.email(class_="form-control", placeholder="Email") }}
      </div>
    </div>
    <div class="form-group">
        {{ html_form.subject.label }} {{ html_form.subject(class_="form-control", placeholder="Subject", size=250) }}
    </div>
    <div class="form-group">
        {{ html_form.message.label }} {{ html_form.message(class_="form-control", placeholder="Your message") }}
    </div>
    {{ html_form.submit(class_="form-control btn btn-primary") }}
</form>

{% include "footer.html" %}