{% include "header.html" %}
<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
  <!-- ======= Header ======= -->
  {% include "navbar.html" %}
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  {% include "hero.html" %}
  <!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    {% include "about.html" %}
    <!-- End About Section -->

    <!-- ======= Tech stack Section ======= -->
    {% include "tech_stack.html" %}
    <!-- End Tech stack Section -->
  
    <!-- ======= Facts Section ======= -->
    {% include "facts.html" %}
    <!-- End Facts Section -->

    <!-- ======= Resume Section ======= -->
    {% include "resume.html" %}
    <!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    {% include "portfolio.html" %}
    <!-- End Portfolio Section -->

    <!-- ======= Sof Skills Section ======= -->
    {% include "soft_skills.html" %}
    <!-- End Sof Skills Section -->

    <!-- ======= Contact Section ======= -->
    {% include "contact.html" %}
    <!-- End Contact Section -->

  </main>
  <!-- End #main -->

  {% include "footer.html" %}