<section id="tech_skills">
    <!-- Skillset Card-->
    <div class="card shadow border-0 rounded-4 mb-5">
        <div class="card-body p-5">
            <!-- Professional skills list-->
            <div class="mb-5">
                <div class="d-flex align-items-center mb-4">
                    <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                    <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Languages</span></h3>
                </div>
                <div class="row row-cols-1 row-cols-md-3 mb-4">
                  <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">English B1 </div></div>
                  <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Germany B1 - certificate </div></div>
                  <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Polish native</div></div>
                </div>
            </div>

            <!-- Professional skills list-->
            <div class="mb-5">
              <div class="d-flex align-items-center mb-4">
                  <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                  <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Stack</span></h3>
              </div>
              <div class="row row-cols-1 row-cols-md-3 mb-4">
                  <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">PYTHON</div></div>
                  <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">OPP</div></div>
                  <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">FLASK</div></div>
              </div>
              <div class="row row-cols-1 row-cols-md-3">
                  <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML</div></div>
                  <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">CSS</div></div>
                  <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">BOOTSTRAP</div></div>
              </div>
              <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">GIT</div></div>
                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">PANDAS</div></div>
                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SQLITE DATABASE</div></div>
              </div>
              <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">API</div></div>
                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">RESTAPI</div></div>
                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">TKINTER</div></div>
              </div>
              <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SELENIUM / BEAUTIFUL SOUP (WEBSCRAPING)</div></div>
                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">TWILIO (AUTOMATED SEND SMS)</div></div>
                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SMTP (AUTOMATED SEND EMAIL)</div></div>
              </div>
              <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">3DS MAX + CORONA</div></div>
                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SKETTCHUP + VRAY</div></div>
                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">PHOTOSHOP / GIMP</div></div>
              </div>
          </div>
            <!-- Languages list-->
            <div class="mb-0">
                <div class="d-flex align-items-center mb-4">
                    <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                    <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">LEARNING</span></h3>
                </div>
                <div class="row row-cols-1 row-cols-md-3 mb-4">
                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">AZURE</div></div>
                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">AWS</div></div>
                    <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">DOCKER</div></div>
                </div>
                <div class="row row-cols-1 row-cols-md-3">
                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">KIVY</div></div>
                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">MONGO DB</div></div>
                    <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">MYSQL</div></div>
                </div>
            </div>

        </div>
    </div>
</section>